header {
  padding: 10px 0;
  background-color: rgba(201, 224, 245, 0.3);
  border-bottom: 2px solid rgb(0, 28, 61);
  
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 -15px;
  align-items: center;
}
.logo, .date, .header-quote {
  margin: 0 15px;
}

.logo {
  font-size: 48px;
  font-weight: 700;
  color: rgb(0, 28, 61);
  
}
.header-quote {
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  color: rgba(0, 28, 61, 0.7);
}
.date {
  font-size: 36px;
  font-weight: 400;
  color: rgb(0, 28, 61);
}