.new-task-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid rgb(0, 28, 61);
  border-radius: 15px;
  padding: 20px 40px;
  background-color: rgba(246, 245, 242, 1);
  z-index: 10;
  width: 80%;
  height: 80%;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.new-task-wrap {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.new-task-wrap.active {
  display: block;
}
.new-task-wrap::before {
  display: block;
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 28, 61);
  opacity: 0.9;
}
.new-task-card-header {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-bottom: 15px;
}
.new-tasc-card-desc {
  font-size: 48px;
  font-weight: 600;
  color: rgb(219, 75, 53);
  
}
.card-close-btn {
  border: none;
  background-color: transparent;
}
.fa-circle-xmark {
  font-size: 30px;
  color: rgb(0, 28, 61);
}
input {
  font-family: inherit;
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(65, 112, 184);
  color: rgb(0, 28, 61);
  font-size: 18px;
  font-weight: 500;
  &:focus {
    outline: 0;
  }
}
.new-task-desc {
  font-family: 'Cormorant Garamond', serif;
  width: 100%;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid rgb(65, 112, 184);
  color: rgb(0, 28, 61);
  font-size: 18px;
  font-weight: 500;
  height: 80px;
  align-self: start;
  resize: none;
  &:focus-visible {
    outline: 0;
  }
}
.new-task-card-content {
 
  margin-bottom: 15px;
}
.new-task-item {
  padding: 10px 10px;
  border: 1px solid rgb(0, 28, 61);
  box-shadow: 0 0 20px -5px rgb(0, 28, 61);
  border-radius: 20px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}

.item-name {
  font-size: 24px;
  font-weight: 600;
  color: rgb(0, 28, 61);
  margin-bottom: 5px;
}

.new-task-card-footer {
  display: flex;
  justify-content: right;
}
.task-btn-cancel, .task-btn-new {
  margin: 0 5px;
  border: none;
  border-radius: 20px;
  color: rgba(191, 184, 172, 1);
  padding: 10px 15px;
  font-size: 24px;
  font-weight: 500;
}
.task-btn-new {
  background-color: rgb(65, 112, 184);

}
.task-btn-cancel {
  background-color: rgb(219, 75, 53);

}