.task {
  margin: 0 auto 15px;
  max-width: 80%;
  padding: 15px 15px;
  border-top: 1px solid rgb(219, 75, 53);
  border-radius: 10px;
  box-shadow: 0 2px 5px 0px rgba(121, 125, 126, 0.6);
  &:last-child {
    margin-bottom: 0;
  }
}
.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.task-status, .task-date {
  margin: 0 15px;
  color: rgb(0, 28, 61);
}
.task-status{
  font-size: 16px;
  font-weight: 300;
}
.task-date {
  font-size: 24px;
  font-weight: 400;
}
.task-title {
  font-size: 32px;
  color: rgb(65, 112, 184);
  text-decoration: underline 1px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}
.task-desc {
  color: rgba(121, 125, 126);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
}
.task-author {
  font-size: 20px;
  font-weight: 400;
  color: rgb(0, 28, 61);
  text-align: left;
  margin-bottom: 5px;
}
.task-options {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.task-btn-move-on, .task-btn-delete, .task-btn-move-back  {
  display: block;
 border: none;
 background-color: transparent;
 margin: 0 5px;
}

.fa-circle-right, .fa-circle-left {
  font-size: 30px;
  color: rgb(219, 75, 53);
}
