.task {
  margin: 0 auto 15px;
  max-width: 90%;
  padding: 15px 15px;
  border-top: 1px solid rgb(219, 75, 53);
  border-radius: 10px;
  box-shadow: 0 2px 5px 0px rgba(121, 125, 126, 0.6);
  &:last-child {
    margin-bottom: 0;
  }
}
.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.task-status, .task-date {
  margin: 0 15px;
  color: rgb(0, 28, 61);
}
.task-status{
  @include small;
}
.task-date {
  @include normal;
}
.task-title {
  @include medium;
  
  // color: rgb(219, 75, 53);
  color: transparent; 										
	background-color: #666666;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  text-align: center;
  margin-bottom: 5px;
}
.task-desc {
  color:  rgb(0, 28, 61);
  @include normal;
  margin-bottom: 5px;
}
.task-author {
 @include sm;
  color: rgba(121, 125, 126);
  text-align: left;
  margin-bottom: 5px;
}
.task-options {
  display: flex;
  flex-direction: row;
  justify-content: right;
  position: relative;
}
.task-btn-move-on, .task-btn-delete, .task-btn-move-back  {
  display: block;
 border: none;
 background-color: transparent;
 margin: 0 5px;
}

// .task-btn-delete {
//   &:hover::before{
//     padding: 5px 5px;
//     display: block;
//     content: "Delete task";
//     position: absolute;
//     top: -15px;
//     right: -10px;
//     font-size: 8px;
//     background-color: rgba(121, 125, 126);
//     border-radius: 10px;
//     transition: 0.2s;
//     color: aliceblue; 
//   }
//   &:active::before{
//     display: none;
//   }
// }
// .task-btn-move-on {
//   &:hover::before{
//     padding: 5px 5px;
//     display: block;
//     content: "Move on";
//     position: absolute;
//     top: -15px;
//     left: -10px;
//     font-size: 8px;
//     background-color: rgba(121, 125, 126);
//     border-radius: 10px;
//     transition: 0.2s;
//     color: aliceblue; 
//   }
//   &:active::before{
//     display: none;
//   }
// }
// .task-btn-move-back {
//   &:hover::before{
//     padding: 5px 5px;
//     display: block;
//     content: "Move back";
//     position: absolute;
//     top: -15px;
//     left: -10px;
//     font-size: 8px;
//     background-color: rgba(121, 125, 126);
//     border-radius: 10px;
//     transition: 0.2s;
//     color: aliceblue; 
//   }
//   &:active::before{
//     display: none;
//   }
// }
.fa-circle-right, .fa-circle-left {
  font-size: 30px;
  color: rgb(219, 75, 53);
}

@media (max-width: 1024px) {
  
}
@media(max-width: 992px) {
  .fa-circle-right, .fa-circle-left {
    font-size: 24px;
  }
  .task-header {
    display: block;
    margin-bottom: 2px;
  }
  .task-status, .task-date {
    margin: 0;
  }
  .task-author {
    @include small;
  }
} 
@media (max-width: 768px) {
  .task {
    max-width: 95%;
    padding: 10px 10px;
  }
  .task-status {
    @include mobileM;
  }
  .task-date {
    @include mobileM;
  }
  .task-title{
    @include sm;
  }
  .task-desc{
    @include small;
  }
  .task-author {
    @include mobileM;
  }
  .task-btn-move-on, .task-btn-delete, .task-btn-move-back {
    margin: 0 2px;
  }
  .fa-circle-right, .fa-circle-left, .fa-trash-can {
    font-size: 20px;
  }
  .header {
    font-size: 20px;
  }
}
@media(max-width: 480px) {
  .container {
    max-width: 420px;
  }
  .task {
    max-width: 90%;
    padding: 15px 15px;
  }
  .task-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }
  .task-status {
    @include mobileM;
    background-color: rgba(219, 75, 53, 0.1); 
  }
  .task-date {
    @include small;
  }
  .task-title{
    @include sm;
  }
  .task-desc{
    @include small;
  }
  .task-author {
    @include small;
    margin-bottom: 20px;
  }
  .task-options {
    display: flex;
    justify-content: center;
  }
  .task-btn-move-on, .task-btn-delete, .task-btn-move-back {
    margin: 0 5px;
  }
  .fa-circle-right, .fa-circle-left, .fa-trash-can {
    font-size: 24px;
  }
  .header {
    font-size: 20px;
  }
  
}
@media(max-width: 320px){
  .container {
    max-width: 280px;
  }
  .task {
    max-width: 95%;
  }
}